@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.globe-container {
  & > div {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: -10;
    animation: fadeIn 3s ease-in-out;
  }
}

.content-container {
  z-index: 10;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
